
.row {
    display: flex;
    background: linear-gradient(to top, #fcd899 0%, #ffffff 100%);
}

#left {
    margin-left: 5%;
    margin-right: 5%;
}

.column {
    flex: 50%;
}

#right {
    margin-left: 5%;
}

.testo {
    margin-top: 5%;
}

.linea {
    border-left: 2px dashed #303031;
    height: 650px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

@media screen and (max-width: 600px) {
    .column {
        width: 75%;
    }
}

